body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #18171F;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

}


.container {
    display: flex;
    width: 30vw;
    height: 80vh;
    background-color: #24232C;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
}

.header {
    display:flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;    
    background-color: #18171F;    
}

.header-password {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #817D92;
    font-size: 24px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;           
}

.container-password {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.password {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #24232C;
    color: #E6E5EA;
    font-size: 32px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
}

.main {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    background-color: #24232C;
    justify-content: space-around;
    align-items: center;    
}

.container-character {
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    background-color: #24232C;       
}

.character {
    display: flex;       
    flex-direction: column;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: start;
    background-color: #24232C;
    gap: 15%;
    color: #E6E5EA;
    font-size: 18px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace; 
}

.character-length {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.character-input {
    display: flex;
    width: 100%;    
}

input[type=range] {
    width: 100%;    

}

.range {
    color: #A4FFAF;
    font-size: 32px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
}

.types {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30%;
    justify-content: center;
    align-items: start;
    background-color: #24232C;
    color: #E6E5EA;
    font-size: 18px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    line-height: 2;     
}

.strength {
    display: flex;
    width: 90%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
    background-color: #18171F;
    color: #817D92;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
}

.generate {
    display: flex;
    width: 90%;
    height: 10%;
    justify-content: center;
    align-items: center;
 /*   background: #A4FFAF;*/
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    font-size: 18px;
    color: #24232C;
}

.generate button {
    width: 100%;
    height: 100%;
    background: #A4FFAF;
    justify-content: center;
    align-items: center;
    background: #A4FFAF;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
    font-size: 18px;
    color: #24232C;
}

.generate button:hover {
    background-color: #24232C;
    color: #A4FFAF;
    cursor: grab;
    border: solid 0.2rem #A4FFAF;    
}



